.sp-br {
    display: none;
}

@media all and (max-width : 599px)  {
.sp-br {
    display: block;
}
}

.section-sentence .text-list {
    margin-bottom: 1.5rem;
}
.section-sentence p,
.section-sentence ul > li  {
    line-height: 1.4;
}
.section-sentence .text-list.ttl {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: .8rem;
}

.section-sentence .text-box {
    margin-bottom: 1.5rem;
}
.section-sentence .text-box.end {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.section-sentence .list-box li {
    margin-bottom: 1.5rem;
}

.section-sentence .text-right {
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .section-sentence .text-list.ttl {
        font-weight: 700;
        font-size: 1.05rem;
        margin-bottom: .3rem;
    }


}

@media all and (max-width : 599px)  {
    .section-sentence .text-list.ttl {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: .3rem;
    }


}